*
{
    box-sizing: border-box;
}

.row
{
    width: 100%;
    margin-left: 20px;
}  
#heading
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
  
p 
{
    background-color: #bfbfbf;
    border: 2px solid black;
    height: auto;
    margin-right: 10px;
    padding: 40px 10px 5px 10px;
    overflow: hidden;
}
  
#container 
{
    position: relative;
}
  
#p1 
{
    background-color: #D59898;
    position: absolute;
    top: 0;
    right: 12px;
    font-weight: bold;
    height: 35px;
    width: 120px;
    padding: 10px;
    padding-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#p2 
{
    background-color:#C14543 ;
    color: white;
    position: absolute;
    top: 0;
    right: 12px;
    font-weight: bold;
    height: 35px;
    width: 120px;
    padding: 10px;
    padding-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#p3 
{
   background-color: #E5D198;
    position: absolute;
    top: 0;
    right: 12px;
    font-weight: bold;
    height: 35px;
    width: 120px;
    padding: 10px;
    padding-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  
}

  